@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */

#linksList{
  background-color: #dad2d259;
}

/* SECTIONS */
section[data-bg="light"]{
  background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1));
}
section[data-bg="light"] .sectionTitle {
  color: #000000;
}

section[data-bg="dark"], footer, .contactCard{
  background-image: linear-gradient(to bottom, #23272d, #101317);
}
section[data-bg="dark"] .sectionTitle {
  color: #ffffff;
}

/* Custom scroll bar */
.scrollable-container{
  overflow-x: hidden;
  overflow-y: scroll;
  height: 10rem;
}
.scrollable-container::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

.scrollable-container::-webkit-scrollbar-track {
  background: transparent; /* Track background */
}

.scrollable-container::-webkit-scrollbar-thumb {
  background: rgba(138, 175, 255, 0.5); /* Scrollbar color */
  border-radius: 10px; /* Rounded scrollbar thumb */
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
  background: rgba(138, 175, 255, 0.7); /* Hover effect */
}